@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
    font-family: 'veneerregular';
    src: url('/assets/css/1-tools/veneer/Veneer-webfont.eot');
    src: url('/assets/css/1-tools/veneer/Veneer-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/css/1-tools/veneer/Veneer-webfont.woff2') format('woff2'),
         url('/assets/css/1-tools/veneer/Veneer-webfont.woff') format('woff'),
         url('/assets/css/1-tools/veneer/Veneer-webfont.ttf') format('truetype'),
         url('/assets/css/1-tools/veneer/Veneer-webfont.svg#veneerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}