.about-container
    background: url(../img/brick-background.png)
    height: 500px
    
    .front-view
        padding-left: 10%
        padding-top: 6%
        float: left
        
    .about-heading
        width: 40%
        float: right
        text-align: left
        margin-right: 10%
        padding-top: 0.5%
        color: $smokey-red
        
    .about-body
        float: right
        width: 30%
        margin-right: 20%
        margin-top: -4%