.menu-container
	background: url(/assets/img/menu-background3.jpg) center center
	background-size: cover
	height: 500px
    
	.our-menu
		width: 1024px
		text-align: center
		margin: 0 auto
				
		.hat
			text-align: center
			margin-top: 100px
			
		h1.menu-header
			margin-top: 0px 
			color: white 
			font-smoothing: antialiased
			-webkit-font-smoothing: antialiased
			-moz-font-smoothing: antialiased
			font-size: 6em
						
		a.button-box
			text-transform: uppercase
			font-family: 'Helvetica'
			font-smoothing: antialiased
			-webkit-font-smoothing: antialiased
			-moz-font-smoothing: antialiased
			text-decoration: none
			font-weight: 800
			padding-top: 16px
			border-radius: 4px
			background-color: rgb(194, 64, 31)
			opacity: 0.902
			position: absolute
			left: 548px
			width: 181px
			height: 27px
			margin-top: -40px
	
			
		a.button-box:hover
			background-color: #a53518
